# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
/List/.vs/List.slnx/v18/Insiders/*.db
/Queue/.vs/Queue.slnx/v18/Insiders/*.db
/SeqList/.vs/SeqList.slnx/v18/Insiders/*.db
/SList/.vs/SList.slnx/v18/Insiders/*.db
/Stack/.vs/Stack.slnx/v18/Insiders/*.db
/List/.vs/List.slnx/v18/Insiders/ipch/AutoPCH/b96d1d38c0f5a510/*.ipch
/List/.vs/List.slnx/v18/Insiders/ipch/AutoPCH/f83b2cd43c1bcf1c/*.ipch
/List/.vs/List.slnx/v18/Insiders/ipch/AutoPCH/f83b37d43c1be1cd/*.ipch
/Queue/.vs/Queue.slnx/v18/Insiders/ipch/AutoPCH/2fd90d06612cf3f8/*.ipch
/Queue/.vs/Queue.slnx/v18/Insiders/ipch/AutoPCH/2fd90806612ceb79/*.ipch
/Queue/.vs/Queue.slnx/v18/Insiders/ipch/AutoPCH/55f38b15979ec02c/*.ipch
/SeqList/.vs/SeqList.slnx/v18/Insiders/ipch/AutoPCH/6c957543215670b8/*.ipch
/SeqList/.vs/SeqList.slnx/v18/Insiders/ipch/AutoPCH/6c95704321566839/*.ipch
/SeqList/.vs/SeqList.slnx/v18/Insiders/ipch/AutoPCH/588f017166cf4e20/*.ipch
/SList/.vs/SList.slnx/v18/Insiders/ipch/AutoPCH/3b4aacc0712e8d43/*.ipch
/SList/.vs/SList.slnx/v18/Insiders/ipch/AutoPCH/3b4ab5c0712e9c8e/*.ipch
/SList/.vs/SList.slnx/v18/Insiders/ipch/AutoPCH/496ce2b813209618/*.ipch
/Stack/.vs/Stack.slnx/v18/Insiders/ipch/AutoPCH/2ff81081f95c84c2/*.ipch
/Stack/.vs/Stack.slnx/v18/Insiders/ipch/AutoPCH/2ff81781f95c90a7/*.ipch
/Stack/.vs/Stack.slnx/v18/Insiders/ipch/AutoPCH/a6b97b5feaf5886c/*.ipch
/List/.vs/List.slnx/v18/*.json
/Queue/.vs/Queue.slnx/v18/*.json
/SeqList/.vs/SeqList.slnx/v18/*.json
/SList/.vs/SList.slnx/v18/*.json
/Stack/.vs/Stack.slnx/v18/*.json
/List/List/x64/Debug/List.tlog/*.lastbuildstate
/Queue/Queue/x64/Debug/Queue.tlog/*.lastbuildstate
/SeqList/SeqList/x64/Debug/SeqList.tlog/*.lastbuildstate
/SList/SList/x64/Debug/SList.tlog/*.lastbuildstate
/Stack/Stack/x64/Debug/Stack.tlog/*.lastbuildstate
/List/List/x64/Debug/*.log
/Queue/Queue/x64/Debug/*.log
/SeqList/SeqList/x64/Debug/*.log
/SList/SList/x64/Debug/*.log
/Stack/Stack/x64/Debug/*.log
/List/List/x64/Debug/*.recipe
/Queue/Queue/x64/Debug/*.recipe
/SeqList/SeqList/x64/Debug/*.recipe
/SList/SList/x64/Debug/*.recipe
/Stack/Stack/x64/Debug/*.recipe
/List/.vs/List.slnx/v18/*.suo
/Queue/.vs/Queue.slnx/v18/*.suo
/SeqList/.vs/SeqList.slnx/v18/*.suo
/SList/.vs/SList.slnx/v18/*.suo
/Stack/.vs/Stack.slnx/v18/*.suo
/List/List/x64/Debug/List.tlog/*.tlog
/Queue/Queue/x64/Debug/Queue.tlog/*.tlog
/SeqList/SeqList/x64/Debug/SeqList.tlog/*.tlog
/SList/SList/x64/Debug/SList.tlog/*.tlog
/Stack/Stack/x64/Debug/Stack.tlog/*.tlog
/List/List/*.user
/Queue/Queue/*.user
/SeqList/SeqList/*.user
/SList/SList/*.user
/Stack/Stack/*.user
/List/.vs/List.slnx/FileContentIndex/*.vsidx
/Queue/.vs/Queue.slnx/FileContentIndex/*.vsidx
/SeqList/.vs/SeqList.slnx/FileContentIndex/*.vsidx
/SList/.vs/SList.slnx/FileContentIndex/*.vsidx
/Stack/.vs/Stack.slnx/FileContentIndex/*.vsidx
/.vs/*.json
/List/.vs/List.slnx/v18/Insiders/ipch/AutoPCH/135919c73eed4060/*.ipch
/List/.vs/List.slnx/v18/Insiders/ipch/AutoPCH/6475593a579ad1c/*.ipch
/Queue/.vs/Queue.slnx/v18/Insiders/ipch/AutoPCH/233338cc00151fc8/*.ipch
/SeqList/.vs/SeqList.slnx/v18/Insiders/ipch/AutoPCH/91e86f1ae0d5f5d/*.ipch
/SeqList/.vs/SeqList.slnx/v18/Insiders/ipch/AutoPCH/d33808af144ca9cc/*.ipch
/.vs/c-data-structure-learning.slnx/FileContentIndex/*.vsidx
/.vs/c-data-structure-learning.slnx/v18/*.wsuo
/.vs/c-data-structure-learning.slnx/v18/*.json
/.vs/c-data-structure-learning.slnx/v18/Insiders/*.db
/Heap/.vs/Heap.slnx/FileContentIndex/*.vsidx
/Heap/.vs/Heap.slnx/v18/*.suo
/Heap/.vs/Heap.slnx/v18/Insiders/*.db
/Heap/.vs/Heap.slnx/v18/Insiders/ipch/AutoPCH/f038e4c9b3cd61eb/*.ipch
/.vs/*.sqlite
/Heap/.vs/Heap.slnx/v18/*.json
/Heap/Heap/*.user
